// Services
.services {
  margin: 24px 0;
  position: relative;
  &__header {
    margin-bottom: 20px;
  }
  &__nav {
    display: none;
  }
  &__info {
    margin-bottom: 16px;
    padding: 0 16px;
  }
  &__text {
    margin-bottom: 16px;
    overflow: hidden;

    transition: max-height 0.2s linear;
  }
  & &__btn-more {
    display: block;
  }
  &__btn-more:disabled {
    color: #d6d6d6;
  }
  &__img img {
    max-width: 100%;
    height: auto;
  }
}

.content-menu {
  display: flex;
  overflow: scroll;
  align-items: center;
  &::-webkit-scrollbar {
    width: 0;
  }
  &__link {
    flex-shrink: 0;
    margin-bottom: 13px;
    margin-right: 20px;
    padding: 8px 10px;

    font-size: $fz + 2;
    color: $textcolor;

    transition: background-color 0.2s linear, border 0.1s linear,
      border-radius 0.2s linear;
  }
  &__link--active,
  &__link:hover,
  &__link:focus {
    border: 2px solid #b8ffec;
    background-color: #fff;
    border-radius: 6px;
  }
}

.text {
  line-height: 20px;
  font-weight: 300;

  &__item {
    margin: 0 0 30px 0;
  }
  &__item:last-child {
    margin-bottom: 10px;
  }
}

.title {
  margin: 0;

  font-size: $fz * 2;
  font-weight: 700;
  line-height: 40px;
  &::before {
    content: '';
    width: 4px;
    height: 40px;

    background-color: $accent2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    position: absolute;
    left: 0;
  }
}

//====

@media (min-width: 768px) {
  .services {
    &__row {
      display: flex;
      justify-content: space-between;
      padding: 0 24px;
    }
    &__info {
      padding-right: 48px;
    }
    &__img img {
      width: auto;
      max-width: 362px;
      height: auto;
    }
  }
}

@media (min-width: 1366px) {
  .services {
    margin-top: 33px;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__nav-link {
      margin-right: 20px;
    }
    &__nav-link img {
      margin-left: 8px;
    }
    &__nav {
      display: block;
    }
    &__menu {
      overflow: auto;
      flex-wrap: wrap;
    }
    &__row {
      justify-content: start;
      width: 100%;
    }
    &__info {
      padding-right: 36px;
      max-width: 490px;
      padding-left: 0;
    }
    &__text {
      margin-bottom: 16px;
      max-height: 80px;
      overflow: hidden;

      transition: max-height 0.2s linear;
    }
    &__img img {
      width: 100%;
      max-width: none;
      height: auto;
    }
  }

  .content-menu__link {
    margin-right: 0;
    padding: 8px 18px;
  }
}
